.footer {
    padding: 100px 0;


}

.footer-links {
    display: flex;
    justify-content: space-between;
    color: $title-color;
    margin-bottom: 20px;

    h3 {
        font-size: 30px;
        color: $title-color;
        margin-bottom: 8px;
    }
}

.socials {
    img {
        margin-right: 15px;
        height: 30px;
        transition: transform 0.3s ease-in-out;

    }

    a:hover img {
        transform: scale(1.2);
    }

}


.download {
    display: flex;
    margin-right: 50px;
    align-items: center;


    a img {

        height: 50px;
    }

    ;
}

.google-play {
    margin-right: 20px;
}