.footer {
    padding: 100px 0;


}

.footer-links {
    display: flex;
    justify-content: space-between;
    color: #303030;
    margin-bottom: 20px;

    h3 {
        font-size: 30px;
        color: #303030;
        margin-bottom: 8px;
    }
}

.socials img {
    margin-right: 15px;
    height: 30px;


}

.download {
    display: flex;
    margin-right: 50px;
    align-items: center;
    

    a img {
       
        height: 50px;
    }

    ;
}

.google-play {
    margin-right: 20px;
}


