.info {
    padding: 100px;
    display: flex;
    justify-content: space-between;
    margin-top: 60px;

    .info-1,
    .info-2,
    .info-3 {
        width: 300px;
        padding: 15px 25px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        border-radius: $b-radius;
        text-align: center;
    }

    img {
        width: 50px;
    }

    h3 {
        font-size: 18px;
        color: $title-color;
        margin-bottom: 12px;
    }

    p {
        font-size: 15px;
        color:$parrafo-color ;
    }
}

