.nosotros {
    position: relative;
}

.nosotros-info {
    padding: 100px 0;
    display: flex;
    align-items: center;
}

.nosotros-img {
    width: 50%;

    img {
        width: 650px;
        border-radius: $b-radius;
    }
}



.nosotros-text {
    width: 50%;

    h1 {
        font-size: 45px;
        color: $title-color;
        margin-bottom: 30px;
    }

    p {
        font-size: 18px;
        color: $parrafo-color;
        margin-bottom: 50px;
    }
}

